In [27]:
import pandas as pd
import numpy as np
x1 = pd.ExcelFile('2004-05.xls.xlsx')

In [38]:
apple = None
for sheet in x1.sheet_names[:-2]:
    df = x1.parse(sheet, skiprows=3)
    df.iloc[6,1] = df.iloc[0,1]
    df.iloc[0,1] = np.nan
    df.iloc[14,1] = df.iloc[7,1]
    df.iloc[7,1] = np.nan
    df = df[df.iloc[:,1].notnull()]
    df.drop(df.columns[[0,2]],axis=1,inplace=True)
    apple = df.iloc[:20,:]

apple

,Items States,Andhra Pradesh,Haryana,Karnataka,Maharashtra,Tamil Nadu,Uttar Pradesh,Uttarakhand
6,Cost of Cultivation (Rs./Hectare),52665.270,47566.20,59450.49,72020.16,63088.23,36300.24,29568.45
14,Cost of Production (Rs./Qtl),86.515,76.90,71.08,83.03,76.88,71.53,59.80
15,Value of Main Product (Rs./Hectare),63006.070,72697.12,92882.35,99163.16,77642.50,53619.14,52937.93
16,Value of By- Product (Rs./Hectare),599.040,3465.36,788.51,4947.02,1703.92,2892.64,4141.08
17,Material & Labour Input per Hectare of,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Seed (Qtl.),50.140,10.09,19.12,37.93,52.13,22.14,0.00
19,Fertilizer (Kg. Nutrients),313.090,193.98,543.57,568.49,373.33,174.33,314.80
20,Manure (Qtl.),53.990,0.00,6.38,9.28,29.96,11.94,0.00
21,Human Labour* (Man Hrs.),2246.280,1037.75,2585.54,2037.29,2051.85,1233.61,1144.82
22,Animal Labour (Pair Hrs.),48.310,1.17,60.82,67.85,11.59,12.13,0.00
23,Rate per Unit (Rs.),NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Seed (Qtl.),90.450,113.02,119.43,107.47,96.34,93.08,0.00
25,Fertilizer (Kg. Nutrients),12.090,11.04,14.05,11.92,12.31,11.91,12.61
26,Manure (Qtl.),20.470,0.00,41.25,46.19,33.32,17.21,0.00
27,Human Labour (Man Hrs.),7.170,11.04,7.07,8.49,11.47,7.06,8.56
28,Animal Labour (Pair Hrs.),21.140,34.87,25.78,30.22,27.91,31.42,0.00
29,Implicit Rate (Rs./Qtl.),95.680,108.57,102.19,97.33,88.10,102.47,104.64
30,Number of Holdings in Sample,53.000,18.00,14.00,78.00,83.00,235.00,4.00
31,Number of Tehsils in Sample,9.000,6.00,6.00,18.00,29.00,39.00,2.00
32,Derived Yield (Qtl./Hectare),662.960,649.33,912.55,908.24,883.57,529.63,504.43