In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
from glob import glob
import numpy as np
from sklearn import datasets, linear_model

In [2]:
xls_data = sorted(glob('Dataset/*.xls'))

apple = None

for xls in xls_data:
    xl = pd.ExcelFile(xls)
    for sheet in xl.sheet_names:
        if sheet.startswith("Coco"):
            continue
        df = xl.parse(sheet, skiprows=3)
        df.iloc[6,1] = df.iloc[0,1]
        df.iloc[0,1] = np.nan
        df.iloc[14,1] = df.iloc[7,1]
        df.iloc[7,1] = np.nan
        df = df[df.iloc[:,1].notnull()]
        df.drop(df.columns[[0,2]],axis=1,inplace=True)
        apple = df.iloc[:21,:]
#         print(apple.shape)

apple

,Items States,Andhra Pradesh,Karnataka,Maharashtra,Tamil Nadu,Uttar Pradesh,Uttarakhand
6,Cost of Cultivation (Rs./Hectare),163567.80,119526.52,194375.62,163112.19,98258.12,92069.24
10,,199.24,130.11,160.97,149.24,143.64,134.77
14,Cost of Production (Rs./Qtl),240.30,159.54,202.06,190.75,191.24,163.67
15,Value of Main Product (Rs./Hectare),178032.90,158767.40,187343.80,225461.80,156313.80,159739.80
16,Value of By- Product (Rs./Hectare),4224.01,2997.71,12275.34,3480.06,6897.05,11347.79
17,Material & Labour Input per Hectare of,NaN,NaN,NaN,NaN,NaN,NaN
18,Seed (Qtl.),65.90,38.67,32.60,23.90,16.07,23.06
19,Fertilizer (Kg. Nutrients),549.98,391.25,640.70,417.47,198.43,126.98
20,Manure (Qtl.),13.95,14.20,36.21,43.22,4.37,30.68
21,Human Labour* (Man Hrs.),1616.18,1191.68,1800.07,1731.38,1184.29,968.30
22,Animal Labour (Pair Hrs.),20.89,40.01,66.10,9.73,4.49,1.14
23,Rate per Unit (Rs.),NaN,NaN,NaN,NaN,NaN,NaN
24,Seed (Qtl.),213.72,285.84,277.14,242.61,294.63,302.37
25,Fertilizer (Kg. Nutrients),25.78,28.92,29.56,28.97,19.13,18.76
26,Manure (Qtl.),56.03,39.02,172.61,58.59,57.12,38.46
27,Human Labour (Man Hrs.),38.38,31.14,31.82,49.21,27.05,27.42
28,Animal Labour (Pair Hrs.),76.52,65.59,119.81,53.25,101.01,114.80
29,Implicit Rate (Rs./Qtl.),243.50,200.53,182.97,248.35,268.97,271.51
30,Number of Holdings in Sample,34.00,52.00,207.00,123.00,193.00,17.00
31,Number of Tehsils in Sample,8.00,25.00,36.00,31.00,34.00,3.00
32,Derived Yield (Qtl./Hectare),730.90,808.81,993.77,926.39,539.07,578.17

In [3]:
xls_data = sorted(glob('Dataset/*.xls'))

state = "Maharashtra"
apple = []
year = []
sheetnames = []

required_elements = [5,6,7,8,9,11,12,13,14,15,21]

for xls in xls_data:
    xl = pd.ExcelFile(xls)
    sheetnames = sheetnames + xl.sheet_names
y = set(sheetnames)
y = list(y)
print(y)

items = np.zeros((len(y),10,11))

for xls in xls_data:
    xl = pd.ExcelFile(xls)
    for sheet in sorted(xl.sheet_names):
        if sheet.startswith("Coco"):
            continue
        df = xl.parse(sheet, skiprows=3)
        df.iloc[6,1] = df.iloc[0,1]
        df.iloc[0,1] = np.nan
        df.iloc[14,1] = df.iloc[7,1]
        df.iloc[7,1] = np.nan
        df = df[df.iloc[:,1].notnull()]
        df.drop(df.columns[[0,2]],axis=1,inplace=True)
        df = df.iloc[:21,:]
#         df[state].shape
        try:
            for i,element in enumerate(required_elements):
                items[y.index(sheet),i,int(xls[8:12])-2004] = df[state].iloc[element]
        except:
            pass
    year.append([int(xls[8:12])])

print(items)
apple,year

['Jute', 'Peas', 'Lentil', 'Cotton', 'Groundnut', 'Arhar', 'Onion', 'Ragi', 'VFCTobacco', 'Moong', 'Wheat', 'Sunflower', 'R&M', 'Jowar', 'Bajra', 'Potato', 'Coconut TN', 'Gram', 'Paddy', 'Sugarcane', 'Barley', 'Maize', 'Nigerseed', 'Sesamum', 'Soyabean', 'Urad', 'Coconut Ke', 'Coconut', 'Safflower']
[[[0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  ...
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]]

 [[0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  ...
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]]

 [[0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  ...
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]]

 ...

 [[0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  ...
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]]

 [[0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  ...
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]]

 [[1.322e+01 1.677e+01 1.342e+01 ... 1.750e+01 1.035e+01 1.205e+01]
  [2.450e+00 1.002e+01 1.652e+01 ... 6.400e+01 4.711e+01 1.817e+01]
  [0.000e+00 8.000e-02 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  ...
  [0.000e+00 4.000e+02 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
  [5.620e+00 6.680e+00 7.500e+00 ... 1.672e+01 2.686e+01 3.058e+01]
  [3.007e+01 3.441e+01 3.812e+01 ... 5.519e+01 8.754e+01 8.807e+01]]]

([],
 [[2004],
  [2005],
  [2006],
  [2007],
  [2008],
  [2009],
  [2010],
  [2011],
  [2012],
  [2013],
  [2014]])

In [4]:
for i in range(0,len(items)):
    for j in range(0,len(items[0])):
        for k in range(0,len(items[0][0])):
            if np.isnan(items[i,j,k]):
                items[i,j,k] = 0
for i in range(0,len(items)):
    for j in range(0,len(items[0])):
        for k in range(0,len(items[0][0])):
            if np.isnan(items[i,j,k]):
                items[i,j,k] = np.mean(items[i][j])
models = [[0 for y in range(0,len(items[0]))] for x in range(0,len(items))] 
for i in range(0,len(items)):
    for j in range(0,len(items[0])):
        models[i][j] = linear_model.LinearRegression()
        models[i][j].fit(year, items[i,j])

In [5]:
area = 2
all_crops=[]
ans = np.zeros((len(y),10))
cost = np.zeros((len(y)))
gain = np.zeros((len(y)))
supp = 1500
for i in range(0,len(items)):
    for j in range(0,len(items[0])):
        ans[i][j] = models[i][j].predict(2017)
max_num=0
max_index=0
for i in range(0,len(items)):
    for j in range(0,int(len(ans[0])/2)):
        cost[i]+=ans[i][j]*ans[i][j+5]
    print((ans[i][len(items[0])-1]*supp-cost[i])*2)
    all_crops.append((ans[i][len(items[0])-1]*supp-cost[i])*2)
    if ((ans[i][len(items[0])-1]*supp-cost[i])*2) > max_num:
        max_num = ((ans[i][len(items[0])-1]*supp-cost[i])*2)
        max_index = i
print(max(all_crops),y[i])

0.0
0.0
0.0
163390.7828485924
220416.62345613036
184313.48914512346
207807.8287074336
119974.52141302457
0.0
239368.09237295986
255088.60042096212
142003.93376039603
0.0
245730.29186029517
214048.56473077778
0.0
0.0
260800.71092945416
159042.00761593797
18047.596236895522
0.0
316607.37219008344
0.0
0.0
204541.39612681034
223484.3131469749
0.0
0.0
229231.2006169912
316607.37219008344 Safflower

In [6]:
# import fbprophet
# m = fbprophet.Prophet(growth='logistic')

In [7]:
# year = [2004, 2015, 2017]
ts = pd.DataFrame(list(zip(*[year,apple])))

In [8]:
from sklearn import linear_model

regr = linear_model.LinearRegression()
regr.fit(year, apple)

ValueError: Found array with 0 sample(s) (shape=(0,)) while a minimum of 1 is required.

In [ ]:
y_pred = regr.predict([[2015],[2017]])

In [ ]:
print(y_pred, apple)

In [ ]:
plt.plot(y_pred)

In [ ]:
plt.plot(apple)